run = "npm start"
entrypoint = "main.sh"

[[ports]]
localPort = 34271
externalPort = 3000

[[ports]]
localPort = 37409
externalPort = 80

[[ports]]
localPort = 43379
externalPort = 3001

[agent]
expertMode = true
